<div style="width:100%">

    <div style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">
  
      <div align="center" style="padding-right:0px;padding-left:0px" class="logo-area">
        <div style="font-size:1px;line-height:20px">&nbsp;</div><a href="" style="outline:none" target="_blank"> <img align="center" border="0" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe76246a0-0eed-422b-8209-19f38bec0b5c%2Fkubig_%EB%A1%9C%EA%B3%A0.png?table=block&id=8519ef66-3378-4d5c-aff3-5cb954bf67f6&spaceId=52e7289f-f0ac-4b51-9a96-be21fa6b50d2&width=250&userId=bf69dfd4-a7ea-4a4d-ae8f-b83ac9ee3e88&cache=v2" alt="Logo" title="Logo" style="text-decoration-line: none; height: auto; border: none; width: 100%; max-width: 143px; display: block;" width="143"></a>
        <div style="font-size:1px;line-height:20px">&nbsp;</div>
      </div>
  
      <hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
  
        <div style="margin-top:20px">
          안녕하세요👋<br>
          고려대학교 데이터사이언스 학회 "KUBIG" 입니다!<br>
          2022년 하반기 🎖️KUBIG CONTEST🎖️를 맞이하여<br>
          NLP 팀이 제공하는 📬금융 주요 뉴스 요약 메일링 서비스📬 입니다.<br>
        </div>
  
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
        <ol>
          <!-- <li>순서 리스트</li> -->
        </ol>
      </div>
      
      <!-- 메인 이미지 넣기 -->
      <div align="center" style="padding-right:0px;padding-left:0px;margin-top:40px" class="full-image">
        <!-- <img align="center" border="0" src="" alt="Image" title="Image" style="border: 0px; height: auto; width: 100%; display: block;"> -->
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
  
        <div style="margin-top:20px">
          {contents}
        </div>
  
      </div>
  
      <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
  
        <div style="margin-top:20px">
          💻Contributor💻<br>
          Kim Jesung / Kim Jihoo / Nam Jeongjae / Lee Byungju / Lee Seungeun
        </div>
  
      </div>
  
    </div>
  </div>